.hero-unit
  %h1 Rails Boilerplate
  .headline Bootstrap, FontAwesome, Devise, RSpec, HAML, SASS, Compass
  
  = link_to "Register", new_user_registration_path, :title => "Register", :class => 'btn btn-primary btn-big'
  = link_to "Sign In", new_user_session_path, :title => "Sign In", :class => 'btn btn-big'