.row-fluid
  .devise.well.span4.offset4
    = form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post } do |f|
  
      %fieldset
        %legend Forgot your password?
    
        = devise_error_messages!

        = f.email_field :email, :autofocus => true, :placeholder => "Email address"

        %button.btn{:type => "submit"} Send me reset password instructions

    = render "devise/shared/links"
